requests==2.32.3
requests-toolbelt==1.0.0
streamlit==1.45.0
pandas==2.2.3
numpy==2.2.5
pydeck==0.9.1
Pygments==2.19.1
PyYAML==6.0.2
tornado==6.4.2
pyarrow==20.0.0
protobuf==5.29.4
pydantic==2.11.4
pydantic-settings==2.9.1
pydantic-core==2.33.2
python-dotenv==1.1.0
python-dateutil==2.9.0.post0
tzdata==2025.2
typing_extensions==4.13.2